*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color:rgb(90, 126, 90);
color:rgb(13, 15, 13);
}
body{
	background-color:lightgreen;
	color:darkgreen;
}
.glyphicon{
	font-size: 30px;
	color:darkgreen; 
}

.center{
	width: 90%;
	background-color:black;

}
.container
{
	background-color:lightgray;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color:black;
}
.navbar-brand{
font-size: 30px;	
}